:root {
  // Colors
  --color-background: #f3f3f3;
  --color-primary: #c39b32;
  --color-sub-primary: #c39b321a;
  --color-primary-dark: #333333;
  --color-primary-light: rgba(238, 67, 64, 0.2);
  --color-primary-overlay: #f6faf3;
  --color-on-primary-high-emphasis: #ffffff;
  --color-on-primary-medium-emphasis: #d7e3f1;
  --color-surface-dark: #e7e8ec;
  --color-surface-medium: #f7f7f7;
  --color-surface-light: #ffffff;
  --color-on-surface-disabled: rgba(255, 255, 255, 0.5);
  --color-on-surface-high-emphasis: #999999;
  --color-on-surface-medium-emphasis: #d1d1d1;
  --color-on-surface-light-emphasis: rgba(152, 152, 152, 1);
  --color-border-dark: #c8c9cc;
  --color-border-medium: #d7e3f1;
  --color-border-light: rgba(107, 119, 141, 0.3);
  --color-error: #ff3c00;
  --color-on-error: #ffffff;
  --color-shadow-dark: #c39b3240;
}
