.box-grid {
  width: 40px;
  height: 40px;
  margin: 40px;
}

.box-grid .box {
  width: 33%;
  height: 33%;
  background-color: var(--color-primary);
  float: left;
  -webkit-animation: boxGridScaleDelay 1.3s infinite ease-in-out;
  animation: boxGridScaleDelay 1.3s infinite ease-in-out;
}

.box-grid .box1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.box-grid .box2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.box-grid .box3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.box-grid .box4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.box-grid .box5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.box-grid .box6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.box-grid .box7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.box-grid .box8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.box-grid .box9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes boxGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes boxGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
